html,
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  margin-top: 60px;
}

section {
  flex: 1;
}

footer {
  background-color: rgb(123, 63, 182);
  color: #fff;
  font-size: 14px;
  margin-top: 0 auto;
  padding: 10px;
}

#juego {
  display: flex;
  flex-direction: column;
  margin: 10px 100px 20px 100px;
}

#mensaje-final {
  border-color: rgb(123, 63, 182);
  border-radius: 0.5em;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  color: #000;
  font-size: 25px;
  font-weight: 600;
  padding: 30px;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 50px;
}

.boton-start {
  border-style: none;
  border-radius: 0.5em;
  background-color: rgb(123, 63, 182);
  color: #fff;
  font-size: 30px;
  padding: 20px 50px;
  margin: 30px;
  cursor: pointer;
}

.boton-start:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
}

.boton-replay {
  border-style: none;
  border-radius: 0.5em;
  background-color: rgb(123, 63, 182);
  color: #fff;
  font-size: 25px;
  padding: 20px;
  cursor: pointer;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}

.boton-replay:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
}

.boton-formulario {
  border-style: none;
  border-radius: 0.5em;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 25px;
  padding: 20px;
  cursor: pointer;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}

.boton-formulario:hover {
  background-color: #fff;
  border-style: solid;
  border-color: rgb(123, 63, 182);
  color: #000;
  transition: 0.2s;
}

/*Estilo formulario*/

input {
  border-radius: 0.5em;
  border-style: solid;
  border-color: rgb(123, 63, 182);
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

#boton-registrar {
  border-style: none;
  border-radius: 0.5em;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

#boton-registrar:hover {
  background-color: #434242;
  border-style: solid;
  color: #fff;
  transition: 0.2s;
}

.pregunta {
  border-style: solid;
  border-color: rgb(79, 77, 75);
  margin: 0 auto;
}

/*Estilos de botones de respuesta */
.boton-respuesta {
  border-style: none;
  border-radius: 0.2em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 20px 50px;
  margin: 10px 0;
  text-align: center;
}

/*Estilos de botones de respuesta cuando están activados y se pasa el ratón por encima*/
.boton-respuesta:hover:enabled {
  background-color: #fff;
  border-style: solid;
  border-color: rgb(123, 63, 182);
  font-weight: 600;
  font-size: 24px;
  color: #000;
  transition: 0.2s;
}

/*Estilos de botones de respuesta 
cuando ya se ha seleccionado uno y están desactivados*/
.boton-respuesta:disabled {
  background-color: grey;
}

#correcto {
  color: rgb(49, 124, 39);
  font-size: 20px;
  font-weight: 600;
}

#incorrecto {
  color: rgb(172, 16, 16);
  font-size: 20px;
  font-weight: 600;
}

#marcadores {
  margin: 30px 100px 40px;
}

#puntuacion {
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
}

.cuenta-atras {
  border-style: solid;
  border-color: rgb(128, 135, 141);
  border-radius: 0.2em;
  font-size: 30px;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/*Estilos formulario de registro*/

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

/* Estilos para las celdas de la tabla */
th,
td {
  padding: 15px;
  text-align: left;
}

/* Estilos para el encabezado de la tabla */
th {
  background-color: #333;
  color: white;
}

/* Estilos para las celdas de datos */
td {
  background-color: #111;
  color: white;
  border-bottom: 1px solid #444;
}

/* Estilos para la tabla completa */
#scores {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
}

#mensajeError {
  color: red;
}
